<div class="text-center">
    <h1>Bienvenido Sr. Usuario</h1>
</div>
<div class="container text-center rounded-lg bg-dark">
    <form action="/login" method="post">
        <form class="form-group">
            <input type="text" name="name" class="rounded">
        </form>
        <form class="form-group">
            <input type="text" name="password" class="rounded">
        </form>
    </form>
</div>
